{% extends "base.html" %}

{% block content %}

<h1>API Guide</h1>
    
<div><h2>/</h2>
    <p>Retrieves all quotes from the database.</p>
    
    <h2>/random</h2>
    <p>Retrieves a random motivational quote from an external API.</p>
    
    <h2>/insert</h2>
    <p>Inserts a new quote into the database.</p>
    
    <h2>/update</h2>
    <p>Updates an existing quote in the database.</p>
    
    <h2>/delete/{id}/</h2>
    <p>Deletes a quote from the database by ID.</p></div>
    


{% endblock %}
